{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "component": "./src/js/component",
          "feature": "./src/js/feature",
          "api": "./src/js/api",
          "util": "./src/js/util",
          "style":  "./src/style",
        },
      },
    ],
  ]
}